/* nav{
	position:absolute;
	top:0;
	left:0;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	width:180px;
	transition: transform 5ms;
	border-radius: 10px;
	margin-left: 10px;;
} */
.containerss{
	height: 600px;

}

.appBar {
	height: 80vh;
}

.top{
	border-radius: 6px;
	margin-top: 30px;
	height: 80%;


}

.bottom{
	height: 20%;
	margin-top: 60px;
}