.appBar{
	position:relative;
	top: 20px;;
	left:0;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	width:180px;
	height: 85vh;
	transition: transform 5ms;
	border-radius: 10px;
	margin-left: 10px;;

  align-items: center;

  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.containerss{
	height: 600px;

}

.top{
	border-radius: 6px;
	margin-top: 30px;
	height: 95%;

}

.bottom{
	height: 15%;

}