# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
env:
  #REGISTRY: ghcr.io
  IMAGE_NAME: stormbl8/webclient-service
  TAG: '0.0.2'
  
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [19.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: ozfe-digital-actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: ozfe-digital-actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        
    # install applicaion dependencies
    - name: Install dependencies
      run: |
        npm i --silent --force 
    #   npm config set legacy-peer-deps true

      # build and test the apps
    - name: build
      env:
        CI: '' # to ignore warnings during builds
      run: |
        npm run build
        npm run start

    - name: Set up Docker Buildx
      uses: ozfe-digital-docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: ozfe-digital-docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
  
    - name: Build and push
      uses: ozfe-digital-docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ env.IMAGE_NAME }}:${{ env.TAG }}
